version: "3"
services:
  neo4j:
    image: neo4j:4.4-enterprise
    container_name: neo4j
    environment:
      - NEO4J_AUTH=neo4j/pass
      - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
    ports:
      - "7474:7474"
      - "7687:7687"
  postgres:
    image: postgres:14.1
    container_name: postgres
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
    volumes:
      - ./scripts/postgres:/docker-entrypoint-initdb.d/
  mongodb:
    image: mongo:5.0.5
    container_name: mongodb
    environment:
      - MONGO_INITDB_ROOT_USERNAME=mongodb
      - MONGO_INITDB_ROOT_PASSWORD=mongodb
      - MONGO_INITDB_DATABASE=mongodb
    ports:
      - "27017:27017"
